/* TODO Add site wide styles */
:root {
  --pallet1-color-1: rgb(24, 18, 30);
  --pallet1-color-2: rgb(35, 50, 55);
  --pallet1-color-3: rgb(152, 75, 67);
  --pallet1-color-4: rgb(234, 198, 122);
  --pallet1-rgba-1: 24, 18, 30;
  --pallet1-rgba-2: 35, 50, 55;
  --pallet1-rgba-3: 152, 75, 67;
  --pallet1-rgba-4: 234, 198, 122;

  --pallet2-color-1: #945d60;
  --pallet2-color-2: #626e60;
  --pallet2-color-3: #af473c;
  --pallet2-color-4: #3c3c3c;

  --pallet3-color-1: #de493c;
  --pallet3-color-2: #608074;
  --pallet3-color-3: #daefd9;
}

html #body #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
